* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.container {
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  color: purple;
  font-size: 24px;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #333;
  font-size: 14px;
}


input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

input:focus {
  outline: none;
  border-color: purple;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: purple;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  color: #333;
}

span {
  display: inline-block;
  border: 2px solid purple;
  border-radius: 6px;
  padding: 8px 14px;
  margin-top: 8px;
  min-width: 100px;
  color: blue;
}
